<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset=utf-8>
  <title>Behavior Tracker</title> 

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body> 
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">Behavior Tracker</a>
        <%= tabs %>
      </div>
    </div>
  </div>

  <div class="container">

    <div id="messages">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>      

    <section id="content"> 
      <%= yield %>
    </section> 

    <footer>
      <div class="row show-grid" title="Default three column layout">
        <div class="span4 offset1">
          A Flatland Lab Production
        </div>
        <div class="span4 offset1">
          A Flatland Lab Production
        </div>
        <div class="span4 offset1">
          A Flatland Lab Production
        </div>
      </div>
    </footer> 
  </div>
</body> 
</html> 
